				<!-- プロフィール -->

<div class="col-xs-3">
	<h2 class="User-info"><strong>User info</strong></h2>
		<table class="table user-table">
			<tr>
				<%= attachment_image_tag user, :profile_image, :fill, 500, 500, format: 'jpeg', class: "img-circle center-block profile-thumb col-xs-12", fallback: "no_image.jpg" %>
			</tr>
			<tr>
				<th>name</th>
				<th><%= user.name %></th>
			</tr>
			<tr>
				<th>introduction</th>
				<th><%= user.introduction %></th>
			</tr>
		</table>
		<%= link_to edit_user_path(user) do %>
		<div class="list-group list-group-item col-xs-12">
				<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
		</div>
		<% end %>

				<!-- 新規投稿 -->

		<h2 class="new-book">New book</h2>
			<%= form_for(blog) do |f| %>
				<p class="new-title"><strong>Title</strong></p>
				<%= f.text_field :title, class: "col-xs-12 title-field" %>
				<p class="new-body"><strong>Opinion</strong></p>
				<%= f.text_area :body, class: "col-xs-12 opinion-field" %>
				<%= f.submit "Create Book", class: "btn btn-primary col-xs-12 create-book" %>
			<% end %>
</div>
