
<div class="col-xs-6 col-xs-offset-3">
	<div class="edit">
		<strong class="editing-book" style="font-size: 32px">Editing Book</strong>
		<%= form_for(@blog) do |f| %>
			<p class="new-title"><strong>Title</strong></p>
				<%= f.text_field :title, class: "col-xs-12 title-field" %>
			<p class="new-body"><strong>Opinion</strong></p>
				<%= f.text_area :body, class: "col-xs-12 opinion-field" %>
				<%= f.submit "Update Book", class: "btn btn-primary col-xs-12 create-book" %>
		<% end %>
		<div class="edit-command-box" style="text-align: center">
			<a class="edit-show-bt"><%= link_to 'Show', blog_path(@blog) %></a> |
			<a class="edit-back-bt"><%= link_to 'Back', user_path(@user) %></a>
		</div>
	</div>
</div>