
<div class="container">
	<div class="row index-row">

<%= render 'blogs/sidebar', blog: @blog, user: @user %>

			<div class="col-xs-9">
				<strong class="books">Books</strong>
				<table class="table books-table">
					<thead>
						<tr>
							<th class="col-xs-2">user</th>
							<th class="col-xs-2">Title</th>
							<th class="col-xs-4" style="color: black">Opinion</th>
						</tr>
					</thead>
				<% @user.blogs.each do |blog| %>
					<tbody>
						<tr>
							<td class="user-icon"><%= attachment_image_tag @user, :profile_image, size:'40x40', format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %></td>
							<td class="in-title">
								<%= link_to blog_path(blog) do %>
									<%= blog.title %>
								<% end %>
							</td>
							<td class="in-body"><%= blog.body %></td>
						</tr>
					</tbody>
				<% end %>
			</table>
		</div>
	</div>
</div>

