<!DOCTYPE html>
<html>
  <head>
  	    <%= csrf_meta_tags %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title>Bookers</title>

  </head>

  <body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample7">
        <span class="sr-only">Toggle navigation</span>
      </button>
        <h3 class="glyphicon glyphicon-book" aria-hidden="true" style="color: white">Bookers</h3>
    </div>

    <div class="collapse navbar-collapse navbar-right" style="line-height: 50px" id="navbarEexample7">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
            <%= link_to user_path(current_user.id) do %>
                <li class="glyphicon glyphicon-home navlink" aria-hidden="true" style="color: #9d9d9d"> Home</li>
            <% end %>
            <%= link_to user_people_path do %>
                <li class="glyphicon glyphicon-user navlink" aria-hidden="true" style="color: #9d9d9d"> Users</li>
            <% end %>
            <%= link_to blogs_path do %>
                <li class="glyphicon glyphicon-book navlink" aria-hidden="true" style="color: #9d9d9d"> Books</li>
            <% end %>
            <%= link_to destroy_user_session_path, method: :delete do %>
                <li class="glyphicon glyphicon-log-out navlink" aria-hidden="true" style="color: #9d9d9d"> log out</li>
            <% end %>
        <% else %>
            <%= link_to root_path do %>
                <li class="glyphicon glyphicon-home navlink" aria-hidden="true" style="color: #9d9d9d"> Home</li>
            <% end %>
            <%= link_to about_path do %>
                <li class="glyphicon glyphicon-link navlink" aria-hidden="true" style="color: #9d9d9d"> About</li>
            <% end %>
            <%= link_to new_user_registration_path do %>
                <li class="glyphicon glyphicon-edit navlink" aria-hidden="true" style="color: #9d9d9d"> Sign up</li>
            <% end %>
            <%= link_to new_user_session_path do %>
                <li class="glyphicon glyphicon-log-in navlink" aria-hidden="true" style="color: #9d9d9d"> login</li>
            <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

    <%= yield %>

<div class="container">
  <div class="row">
    <div class="col-xs-3 col-xs-offset-9">
      <p class="copyright">CopyRight Infratop.inc</p>
    </div>
  </div>
</div>

  </body>
</html>
